<!DOCTYPE html>
<html>

<head>
    <title>KiezHelp</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDT_9bLtID5aW6mCxG84wfCtgvMiasuCBc&callback=initMap&enterLocation"></script>
    <!-- <script type="text/javascript" src="/js/jquery.min.js"></script> -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <!-- <script type="text/javascript" src="/js/bootstrap.min.js"></script> -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" href="/css/w3.css" />
    <link rel="stylesheet" type="text/css" href="/css/kiezhelp.css" />

    <script type="text/javascript" src="/js/subscription.js"></script>
    <script type="text/javascript" src="/js/latestRequest.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway" />
    <script src="/socket.io/socket.io.js"></script> 
    <script type="text/javascript" src="/js/kiezhelp.js"></script>
</head>

<body>
    <div class="w3-panel" style="padding:10px; text-align: center;  z-index: 5; bottom: 5px; width:100%; position: fixed; background: rgba(255,255,255,0.7)">
        <h4 style="font-weight:bolder; display: inline;"> We use Cookie 🍪...</h4>
        <span class="closebtn" onclick="this.parentElement.style.display='none';" style="float:right;">&times;</span>
        <button class="js-cookie-dismiss button w3-button w3-black w3-block" onclick="this.parentElement.style.display='none';" style="width:auto; display:inline;">I Accept</button>
        <button class="js-cookie-dismiss button w3-button w3-black w3-block" onclick="this.parentElement.style.display='none';" style="width:auto;  display:inline;">I don't accept</button>
    </div>
    <%- include('partials/navigation') %>
        <div class="flashes">
            <% if (flashMessages) { %>
                <% if (flashMessages.success) { %>
                    <div class="flash success">
                        <%= flashMessages.success %>
                    </div>
                    <% } else if (flashMessages.error) { %>
                        <div class="flash error" style="background:#c96b59">
                            <%= flashMessages.error %>
                        </div>
                        <% } %>
                            <% } %>
        </div>
        <div class="bgimg w3-display-container w3-animate-opacity w3-text-white">
            <div class="w3-display-topleft w3-padding-large w3-xlarge w3-hide-small">
                KiezHelp
            </div>
            <%- body %>
        </div>
        <%- include('partials/footer') %>
</body>

</html>