<div class="form-container w3-jumbo">
  <h1 class="w3-jumbo w3-animate-top" style="text-align: left;" id="headline">
    ALL <br />REQUESTERS
  </h1>
  <hr class="w3-border-grey" style="margin: auto; width: 100%;" />
  <% requesters.forEach(r => { %>
  <div class="subscriber">
    <p>
      <span class="item-label">Name:</span>
      <%= r.name %>
    </p>
    <p>
      <span class="item-label">Zip Code:</span>
      <%= r.zipcode %>
    </p>

    <p>
      <span class="item-label">Option:</span>
      <%= r.option %>
    </p>

    <p>
      <span class="item-label">Date:</span>
      <%= r.date %>
    </p>
    <p>
      <span class="item-label">From:</span>
      <%= r.durafrom %>
    </p>
    <p>
      <span class="item-label">to:</span>
      <%= r.durato %>
    </p>
    <p>
      <span class="item-label">Message:</span>
      <%= r.message %>
    </p>
  </div>
  <% }); %>
</div>
