<% volunteers.forEach(v => { if(v.type === type){ %>
    <div class="subscriber">
        <p>
            <span class="item-label">Id:</span>
            <%= v._id %>
        </p>
        <p>
            <span class="item-label">Type:</span>
            <%= v.type %>
        </p>
        <p>
            <span class="item-label">Name:</span>
            <%= v.name %>
        </p>
        <p>
            <span class="item-label">Address:</span>
            <%= v.address %>
        </p>
        <p>
            <span class="item-label">Option:</span>
            <%= v.option %>
        </p>
        <p>
            <span class="item-label">Date:</span>
            <%= v.date %>
        </p>
        <p>
            <span class="item-label">From:</span>
            <%= v.durafrom %>
        </p>
        <p>
            <span class="item-label">to:</span>
            <%= v.durato %>
        </p>
        <p>
            <span class="item-label">Message:</span>
            <%= v.message %>
        </p>
        <form action="/deleteOne/<%=v._id%>" method="post"><input class="button w3-button w3-black " style="font-size:15px;" type="submit" name="type" value="Delete"></form>
    </div>
    <% }}); %>